*{  margin :0;  padding:0;  box-sizing: border-box;  }

*::before, *::after{
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    /*border: 1px solid red;*/
    display: flex;
}
#code{
    height:50%;
    width: 100%;
    overflow: auto;
}
#pikachu{
    height:50%;
    width: 100%;
    background: #fde348;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items:center;
}
